.footer {
    background-color: var(--lantern);
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 30px 40px;
    color: var(--cream);
}

.footer__heading {
    font-size: 1.2rem;
    font-weight: 550;
}

.footer__link {
    all: unset;
    display: flex;
    align-items: center;
}

.footer__icon {
    width: 20px;
}