@font-face {
  font-family: 'Instrument Serif';
  src: url('./assets/fonts/InstrumentSerif-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Instrument Serif';
  src: url('./assets/fonts/InstrumentSerif-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
}

:root {
  --font-title: 'Instrument Serif', Georgia, serif;
  --font-body: 'Inter', sans-serif;
  --cream: #f3eedd;
  --sage: #78865a;
  --denim: #7c93b6;
  --marigold: #e4a730;
  --lantern: #bc3b2f;
  --grey: #878180;
  --dark-cream: #eae2c9;
}

body {
  background-color: var(--cream);
  font-family: var(--font-body);
}

html {
  background-color: var(--cream);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
}
